html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper_pressure {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f4f8;
}

.container_pressure {
  background: #f1c4c4;
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title_pressure {
  font-size: 28px;
  color: #0077b6;
  margin-bottom: 25px;
  margin-top: 40px;
  text-align: center;
  /* background-color: blue; */
}

.form_pressure {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  align-items: center;
}

.input_pressure {
  padding: 14px 16px;
  border: 1px solid #cbd5e1;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  background-color: #fcfbf9;
  transition: border-color 0.2s, box-shadow 0.2s;
  width: 80%;
}

.input_pressure:focus {
  border-color: #0077b6;
  box-shadow: 0 0 0 3px rgba(0, 119, 182, 0.2);
  background-color: #ffffff;
}

.button_pressure {
  background-color: #0077b6;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #cbd5e1;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
  width: 40%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.button_pressure:hover {
  background-color: #005f91;
}

.chart_container {
  margin-top: 40px;
  width: 100%;
  padding: 20px;
  background-color: #f9fafb;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart_title {
  font-size: 22px;
  color: #0077b6;
  margin-bottom: 20px;
}

.chart_placeholder {
  width: 100%;
  max-width: 440px;
  height: 250px;
  background-color: #e2e8f0;
  border: 2px dashed #94a3b8;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #64748b;
  font-size: 16px;
}

.top_buttons {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 55px;
}

.icon_button {
  background: #ffffff;
  border: 1px solid #cbd5e1;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.icon_button:hover {
  background-color: #caf0f8;
}
